<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">CYZ Food PickUp</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">PIZZA MENU</a>
          </li>
        </ul>
      </div>


      <!-- Modal -->
      <div id="order-modal" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Cart Summary</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="modalBody">

              <!-- modal content form jquery goes in here -->

            </div>
            <div class="d-flex justify-content-end pr-5">
              <h5>Total<span class="price text-success mr-5"></span></h5>
            </div>

            <div class="modal-footer">
              <button type="button" id="close" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <a type="button" href="/checkout" class="btn btn-primary">Continue To Checkout</a>
            </div>
          </div>
        </div>
      </div>


      <% if(user){ %>


        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2"
            data-bs-toggle="dropdown" aria-expanded="false">
            <%= user.email %>
          </button>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">

            <li><a class="dropdown-item" href="/history">Account History</a></li>

            </li>
            <li class="dropdown-item">
              <form class="form-inline" action="/logout" method="POST">
                <button type="submit" class="btn btn-outline-danger">Logout</button>
              </form>
            </li>
          </ul>

          <%}%> -->
          <% } else { %>
            <a class="nav-link" href="/login">Login</a>
            <a class="nav-link" href="/register">Register</a>
            <% } %>
        </div>
  </nav>





  <div class="alert alert-success mb-0 alert-dismissible fade show" role="alert" style="display: none;">
    <strong>Item successfully added!</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

  <div class="alert alert-danger mb-0 alert-dismissible fade show" role="alert" style="display: none;">
    <strong>Please add item</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>


  </div>

</header>
