DB_HOST=localhost
DB_USER=labber
DB_PASS=labber
DB_NAME=midterm
# Uncomment and set to true for Heroku
# DB_SSL=true if heroku
DB_PORT=5432


TWILIO_ACCOUNT_SID= AccountSidHere
TWILIO_AUTH_TOKEN= AuthTokenHere
TWILIO_PHONE_NUMBER= PhoneNumberProvidedByTwilioHere
USER_PHONE_NUMBER= YourTwilioVerifiedNumber
