<!DOCTYPE html>
<html lang="en">
  <header>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>CYZ Food Pick-up Ordering App - Admin Dashboard</title>
  </head>
</header>
<%- include('partials/_header') %>

<body>

<h2>Welcome to your Admin Dashboard</h2>

<main>

</main>

</body>

</html>
