<!DOCTYPE html>
<html lang="en">
  <header>
  <head>
    <title>FOOD ORDERING APP</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/checkout.css" type="text/css" />


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/scripts/checkout.js"></script>
  </head>
  <!--Font Awesome Library-->
  <script src="https://kit.fontawesome.com/5cdd9bd7c4.js" crossorigin="anonymous"></script>

  </header>
  <%- include('partials/_header') %>

  <body>
    <br>
    <div class="box order-success">
      <center><h2>Thank you!<br>Your order has been placed successfully.</h2><br>
      <a href="/">Continue Ordering</a></center>
    </div>
  </body>
</html>
