
<!DOCTYPE html>
<html lang="en">
  <header>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>CYZ Food Pick-up Ordering App - Register a New Account</title>
  </head>

</header>
<%- include('partials/_header') %>
  <body>

    </div>
   <center> <main style="margin: 1em;">
      <h5>Create a New Account</h5>
      <p><form method="POST" action="/register">
       <input type="text" name="first_name" placeholder="First Name"></p>
       <p><input type="text" name="last_name" placeholder="Last Name"></p>
       <p><input type="number" name="phone_number" placeholder="Mobile Number"></p>
      <p><input type="email" name="email" placeholder="Email Address"></p>
      <p><input type="password" name="password" placeholder="Password"></p>
      <p><button class="btn btn-primary" type="submit">Register</button>
      </p></form>
      <p>Got an account? <a href="/login">Login</a> now.</p>
        </div>
      </form>
    </main></center>

  </body>
</html>


