$border: solid black;
$red-border: solid #ed7966;
$font: 'Montserrat', sans-serif;



.top-row {
  padding: 25px;
  font-weight: 600;
  font-style: italic;
  border: $border;
  color: #212529;
  background-color: #ed7966;
}

#order-container tr{
  padding: 20px;
  border-bottom: 1px $red-border;
  font-weight: 400;
}

#order-container tr:hover {
  background-color: #655f5f;
}

.orderDisplay {
  border: $border;
}

table {
  min-width: 1000px;
  border: $border;
  text-align: center;
  font-family: $font;
  color: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  background-color:#212529;
  }

  .declined-message {
color: red;
  }

  input[type=text] {
    width: 75px;
    border: 2px solid gray;
    border-radius: 10%;
  }

  .badge-danger {
    color: black;
    background-color: #d45353;
  }

  .badge-success {
    color: black;
    background-color: green;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h5 {
    margin-bottom: 2em;
    margin-top: 2em;
  }
