
$border: solid black;
$red-border: solid #ed7966;
$font: 'Montserrat', sans-serif;


.top-row {
  padding: 25px;
  font-weight: 600;
  font-style: italic;
  border: $border;
  color: #212529;
  background-color: #ed7966;
}

#order-container tr{
  padding: 20px;
  border-bottom: 1px $red-border;
  font-weight: 400;
}

#order-container tr:hover {
  background-color: #655f5f;
}

.orderDisplay {
  border: $border;
}

table {
  min-width: 1000px;
  border: $border;
  text-align: center;
  font-family: $font;
  color: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 10px 6px 46px -10px rgba(255,255,255,0.13);
  background-color:#212529;
  }

  .declined-message {
color: red;
  }

  input[type=text] {
    width: 75px;
    border: 2px solid gray;
    border-radius: 10%;
  }

  .badge-danger {
    color: white;
    background-color: #d45353;
    width: 12em;
    height: 2em;
    padding-top: 10px;
    font-family: $font;
    font-style: italic;
    font-weight: 600;
    font-size: 0.8rem;
  }

  .badge-success {
    color: black;
    background-color: green;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h4 {
    margin-bottom: 2em;
    margin-top: 2em;
    color: #F8F8F8;

  }

  body {
    background-color: #212529;
    font-family: $font;
  }

  .accept-order, .decline-order {
    border-radius: 10px;
  }

  .decline-order {
    margin-left: 10px;
  }

  .accept-order {
    margin-right: 10px;
    margin-left: -20px;
  }
