h2 {
  text-align:center;
  color: green;
}

.mainbox {
  width: fit-content;
}

.box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.order-summary {
  display: inline-block;
  text-align:center;
  padding: 15px;
  margin: 25px;
}

.order-success {
  background-color: white;
  color: black;
  padding-top:4em;

}
