.bg-image {
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../images/bg.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/bg.jpg");
  background-attachment: fixed;
  background-position: center top;
  background-size: contain;
  background-repeat: no-repeat;
  color: #fff;
  height: 25vh;
}

.bg-image:p {
  width: 50%;
}

.card-img-top {
  border-radius: 50%;
}

.card {
  border-radius: 5%;
}

.input-cart {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.cart-counter {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.cart-btn {
  width: 60%;
  cursor: pointer;
}

.badge {
  padding-left: 9px;
  padding-right: 9px;
  border-radius: 9px;
}

#cartQuantity {
  font-size: 15px;
  background: #8a310e;
  color: #fff;
  padding: 0 5px;
  vertical-align: top;
  margin-left: -10px;
}

.btn-number {
  margin: 0;
}

.btn-primary {
  background-color: #ed7966;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.btn-primary:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  background-color: #8a310e;
  -webkit-box-shadow: 0 0 7px #1d1e22;
          box-shadow: 0 0 7px #1d1e22;
}

.input-number {
  display: inline;
  width: 20%;
  border-radius: 0%;
  padding-left: 0.2rem;
}

.fa-shopping-cart {
  color: #fff;
}

.checkout-btn {
  text-decoration: none;
  margin: 0 1.2rem;
  cursor: pointer;
}

.alert {
  z-index: 1000 !important;
}

.table-image thead td,
.table-image thead th {
  border: 0;
  color: #666;
  font-size: 0.8rem;
}

.table-image td,
.table-image th {
  vertical-align: middle;
  text-align: center;
}

.table-image td.qty,
.table-image th.qty {
  max-width: 2rem;
}

.price {
  margin: auto 1rem;
}

.modal-footer {
  padding-top: 0rem;
}

@media only screen and (max-width: 1024px) {
  .input-number {
    height: 1.5rem;
    padding: 0.2rem;
    border-radius: 1px;
  }
  .btn-number {
    font-size: 0.5rem;
  }
  .cart-btn {
    font-size: 0.7em;
  }
}

#order-heading {
  background-color: #ed7966;
  position: relative;
  border-top-left-radius: 25px;
  max-width: 800px;
  padding-top: 20px;
  margin: 30px auto 0px;
}

#order-heading .text-uppercase {
  font-size: 0.9rem;
  color: #0e1f44;
  font-weight: 600;
}

#order-heading .h4 {
  font-weight: 600;
}

#order-heading .h4 + div p {
  font-size: 0.8rem;
  color: #0e1f44;
}

.wrapper {
  padding: 0px 50px 50px;
  max-width: 800px;
  margin: 0px auto 40px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.table th {
  border-top: none;
}

.table thead tr.text-uppercase th {
  font-size: 0.8rem;
  padding-left: 0px;
  padding-right: 0px;
}

.table tbody tr th,
.table tbody tr td {
  font-size: 0.9rem;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 5px;
}

.table-responsive {
  height: 100px;
}

.list div b {
  font-size: 0.8rem;
}

.list .order-item {
  font-weight: 600;
  color: #1d1e22;
}

.list:hover {
  background-color: #f4f4f4;
  cursor: pointer;
  border-radius: 5px;
}

label {
  margin-bottom: 0;
  padding: 0;
  font-weight: 900;
}

.price {
  color: #ed7966;
  font-weight: 700;
}

p.text-justify {
  font-size: 0.9rem;
  margin: 0;
}

@media (max-width: 425px) {
  .wrapper {
    padding: 20px;
  }
  body {
    font-size: 0.85rem;
  }
  .subscriptions div {
    padding-left: 5px;
  }
  img + label {
    font-size: 0.75rem;
  }
}

body {
  background-color: #1d1e22;
}

.items {
  background-color: yellow;
  border: 3px;
  width: 30%;
}
/*# sourceMappingURL=layout.css.map */