@import "./login.scss";
@import "./menu.scss";
@import "./variables";
@import "./status.scss";

body {
  background-color: $dark;
  font-family: $font;
}

.navbar-brand{
  color: $primary !important;
  letter-spacing: 1.2px;
  font-weight: 600;
  font-size: 1.4rem;
}


.items {
  background-color: yellow;
  border: 3px;
  width: 30%;
}
