@import "./variables";

.bg-image {
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/bg.jpg");
  background-attachment: fixed;
  background-position: center top;
  background-size: contain;
  background-repeat: no-repeat;
  color: $white;
  height: 25vh;
  &:p {
    width: 50%;
  }
}

// CARD "ADD TO CART" AREA STYLING
.card-img-top {
  border-radius: 50%;
}

.card {
  border-radius: 5%;
}

.input-cart {
  width: 100%;
  display: inline-flex;
}

.cart-counter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.cart-btn {
  width: 60%;
  cursor: pointer;
}

.badge {
  padding-left: 9px;
  padding-right: 9px;
  border-radius: 9px;
}

#cartQuantity {
  font-size: 15px;
  background: $hover;
  color: #fff;
  padding: 0 5px;
  vertical-align: top;
  margin-left: -10px;
}

.btn-number {
  margin: 0;
}

.btn-primary {
  background-color: $primary;
  transition: all 0.2s ease-out;
  cursor: pointer;

  &:hover {
    transform: translateY(-2px);
    background-color: $hover;
    box-shadow: 0 0 7px $dark;
  }
}

.input-number {
  display: inline;
  width: 20%;
  border-radius: 0%;
  padding-left: 0.2rem;
}

// Cart icon
.fa-shopping-cart {
  color: $white;
}

.checkout-btn {
  text-decoration: none;
  margin: 0 1.2rem;
  cursor: pointer;
}

// Alert
.alert {
  z-index: 1000 !important;
}

// Cart modal

.table-image {
  thead {
    td,
    th {
      border: 0;
      color: #666;
      font-size: 0.8rem;
    }
  }

  td,
  th {
    vertical-align: middle;
    text-align: center;

    &.qty {
      max-width: 2rem;
    }
  }
}

.price {
  margin: auto 1rem;
}

.modal-footer {
  padding-top: 0rem;
}

// Responsiveness

@media only screen and (max-width: 1024px) {
  .input-number {
    height: 1.5rem;
    padding: 0.2rem;
    border-radius: 1px;
  }
  .btn-number {
    font-size: 0.5rem;
  }

  .cart-btn {
    font-size: 0.7em;
  }
}
